Using the above plan, create the HTML that would render in the `<body>` element on the {{ route.name }} page.

Ensure the HTML incorporates data corresponding to this specific case.

Ensure each element is styled with Tailwind CSS.

Format your response as:

```json
{
  "body": "<body>...</body>"
}
```
