The application has processed several HTTP requests and responded to each appropriately:

{% for message in messages %}
  - {{ message.type | capitalize }}: `{{ message.routeMethod }}` `{{ message.routeId }}`
{%   if message.content %}
    {{ message.content | indent }}
{%   endif %}
{% endfor %}
