The application exposes several pages:

{% for route in routes %}
{%   if route.type === "page" %}
  - `{{ route.method }}` `{{ route.id }}` - {{ route.name }}
{%   endif %}
{% endfor %}

The application exposes several internal API routes:

{% for route in routes %}
{%   if route.type === "internal" %}
  - `{{ route.method }}` `{{ route.id }}`
{%   endif %}
{% endfor %}
