Consider a `{{ route.method }}` request for the `{{ route.id }}` route.

{% if request.body %}
The request has body:

```
{%   if request.headers["content-type"] === "application/json" %}
{{ request.body | dump }}
{%   else %}
{{ request.body }}
{%   endif %}
```

{% endif -%}

Create a list of propertes a response should include, based on the description in the design brief.

{% if request.body %}
Use data from this and previous requests to determine the value of each property in this specific case.
{% else %}
Use data from previous requests to determine the value of each property in this specific case.
{% endif %}

If the request warrants a list of objects, include multiple values for each property.
