Consider a `{{ route.method }}` request for the {{ route.name }} page, exposed at the `{{ route.id }} route.

Create a list of elements the page should contain, based on the description in the design brief.

If an element, such as a `<button>`, `<link>`, or `<form>`, includes a URL, ensure the URL comes from the list of exposed routes.

Use data from the previous requests to determine how each element would render in this specific case.
