<!doctype html>

<html lang="en">
  <head>
    <title>{{ route.name }}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://cdn.tailwindcss.com/?plugins=forms"></script>
  </head>

  {{ body }}
</html>
